@import "./global/global.css";
@import "./global/header.css";
@import "./utilidades/componentes.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

/* Home */

@import "./home/introducao.css";
@import "./home/mais-vendidos.css";
@import "./home/servico-dealer.css";

/* Baralhos */

@import "./jogos/baralhos-lista.css";

/* Tabuleiro */

@import "./jogos/tabuleiro-lista.css";

/* Contato */

@import "./home/contato.css";

/* FOOTER */

#footer {
    background-color: var(--cinza-escuro);
    padding: 10px 0;
}

#footer p {
    font-size: .9rem;
    color: white;
    text-align: center;
}
