.header img {
    max-width: 250px;
}

.header {
    background-color: #ffffff;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap: 25px;
    font-size: 1.6rem;
}

.header-menu a {

font-family: 'Poppins';
font-weight: 400;
    color: #000000;
    display: inline-block;
    padding: 10px 0;
    position: relative;
}

.header-menu a:after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    margin-top: 4px;
    background: #000000;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover::after {
    width: 100%
} 

@media (max-width: 800px) {
    /* .header-menu a {
        padding: 15px 10px;
        background: #f0f0f0;
        border-radius: 5px;
    } */

    .header img {
        max-width: 350px;
    }

    .header a::after {
        display: none;
    }

    .header a:hover {
        background: #d4d4d4;
    }

}