.servico-dealer-bg {
    background-color: #000000;
    box-shadow: inset 0 80px var(--branco-puro), inset 0 -80px var(--cinza-escuro);

}

.servico-dealer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
}

.servico-dealer-intro {
    display: grid;
    align-content: center;
    justify-content: start;
    gap: 30px;
}

.servico-dealer-intro a {
    justify-self: start;
}

.servico-dealer-container img {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
    object-position: center;
    width: 500px;
    height: 700px;
}

.pacotes-dealer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 82px;
    margin-top: 60px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.pacotes-dealer h1 {
    grid-column: 1/-1;
}

/* Pacote Básico */

.pacotes-bg {
    background-color: var(--cinza-escuro);
}

.pacotes-bg h1 {
    color: var(--branco-puro);
}

.pacote {
    display: grid;
    justify-items: start;
    align-items: start;
    background: #000000;
    color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.pacote p {
    margin-top: -10px;
}

.pacote ul {
list-style: none;
}

.pacote li {
    position: relative;
    padding: 10px;
    font-weight: bold;
}

.pacote li::before {
    content: "▪";
    color: var(--vermelho-padrao);
    display: inline-block;
    font-size: 2rem;
    position: absolute;
    left: -10px;
    top: -1px;
}

.pacote a {
    background: var(--cinza-principal);
    color: #000000;
}

.pacote a:hover {
    background: var(--cinza-claro);
}

/* Pacote Ouro */

.pacote2 {
    display: grid;
    justify-items: start;
    background: var(--amarelo-dourado);
    color: var(--preto-absoluto);
    padding: 30px;
    width: 500px;
    border-radius: 5px;
}

.pacote2 ul {
    list-style: none;
    margin-top: 20px;
    }
    
    .pacote2 li {
        position: relative;
        padding: 10px;
        font-weight: bold;
    }
    
    .pacote2 li::before {
        content: "▪";
        color: var(--preto-absoluto);
        display: inline-block;
        font-size: 2rem;
        position: absolute;
        left: -10px;
        top: -1px;
    }
    
    .pacote2 a {
        margin-top: 20px;
        background: var(--preto-absoluto);
        color: var(--branco-puro);
    }
    
    .pacote2 a:hover {
        background: var(--preto2);
    }

@media (max-width: 900px) {

    .servico-dealer-bg {
        box-shadow: none;
    }

    .servico-dealer-container img {
        width: 100%;
        height: 500px;
    }

    .servico-dealer-intro p {
        font-size: 1.2rem;
    }

}

@media (max-width: 600px) {
    .servico-dealer-container {
        grid-template-columns: 1fr;
    }

    .servico-dealer-intro {
        gap: 15px;
    }

    .servico-dealer-container img {
        grid-row: 1;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}



